.error{
    color:red !important;
}
#logout-form {
    display: none;
}
#hidden-input-file {
    display: none;
}
.edit {
    float: right;
}
#avatar_preview {
    width: 100px !important;
    height: 100px !important;
}
.active-like {
    background-color: #338338;
    color: #fff;
}
.active-dislike {
    background-color: #990707;
    color: #fff;
}
.active-clip {
    color: #3498Db;
    font-weight: 700;
}
.reply {
    width: 100%;
    margin-bottom: 10px;
}
.active-like-comment{
    color: #3498Db !important;
}
.notify {
    float:right;
    color: red;
    font-weight: bold;
}
.notifi_massage {
    color: black;
    font-weight: 400;
}
.hight-light {
    background-color: yellowgreen;
}
